.sidebar-container {
    margin-bottom: 20px;
    background-color: #3c3836;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #d5c4a1;
    text-align: center;
}

.sidebar-container hr {
    margin: 10px 15px;
    border-color: #d5c4a1;
    border-radius: 8px;
}

.avatar {
    border-radius: 50%;
    margin: 20px auto;
}

.avatar img {
    border-radius: 25%;
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 10px #1d2021;
}

.profile {
    text-align: center;
}

.profile .name {
    height : 30px;
    font-size: 24px;
    font-weight: bold;
}

.profile .profession {
    height: 30px;
}

.profile .profession .prof {
    display:inline-block;
    color: #a89984;
}

.profile .bio {
    font-size: medium;
    line-height: 1.5;
}

.contact {
    font-size: large;
}

.contact p {
    font-size: medium;
}

.nav-container {
    background-color: #3c3836;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #d5c4a1;
    text-align: center;
}

.nav-container nav ul {
    text-align: left;
    list-style-type: none;
}

.nav-container nav ul li a {
    display: block;
    padding: 10px;
    color: #a89984;
}

.nav-container nav ul li a:hover {
    background-color: #504945;
    text-decoration: none;
}

@media (max-width: 900px) {
    .sidebar-container {
        width: 100%;
        display: flex;
        margin-bottom: 0px;
        justify-content:space-around;
        transition: all 0.5s;
    }

    .sidebar-container hr {
        display: none;
    }

    .avatar {
        width: 80px;
        height: 80px;
        margin: auto 0px;
    }

    .profile {
        text-align: right;
    }

    .nav-container {
        display: none;
    }
}